# Predicting The Severity of Car Accidents in Seattle

## Introduction

In this lab, precede the severity of a car accident. Car accidents are more common around the world than we imagine, these accidents can be due to critical road conditions, rain, wind, etc., that caused it. The idea is to have a tool that allows drivers to know the possibility of having a car accident accident and how serious it would be, so that they can drive more carefully or even change the date of their trip if they can. Let's use data for Seattle city of how to deal with the accidents data.

Los accidentes automovilisticos al rededor del mundo se presentan con mucha frecuencia, muchos de ellos son debidos a las condiciones de la carretera y del entorno. La idea es contar con una herramienta que en base a las condiciones de la carreta, las del clima y de los conductores; pueda dar a concocer la posibilidad de tener un accidente así como su severidad, buscando que cambie su plan de viaje o de no ser posible, esté más atento y cuidadoso.
Para este objetivo vamos a trabajar con la data de la ciudad de Seattle, que nos permitirá armar un modelo que nos brinder los mejores resultados. Esta data no dá a conocer la información de accidentes pasado en base a las condiciones de la carretera, del clima, de la luz, de la atención del conductor, del consumo de drogas o alcohol y de la velocidad.
Al finalizar se presentará un reporte en el cual se presentará el modelo que cumpla con el objetivo planteado, además de considerar resultados en base a la posibilidad de presentarse conductas inadecudas (falta de atención, ir a exeso de velocidad o consumo de drogas o alcohol) por parte de los conudtores, este último punto busca alertar a los conductores de su conducta así como la de los demás.

## Imports

In [2]:
import pandas as pd
import numpy as np

## Data Understanding

In [1]:
!wget -O Data-Collisions.csv https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv

--2020-08-30 08:16:36--  https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv
Resolving s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)... 67.228.254.196
Connecting to s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73917638 (70M) [text/csv]
Saving to: ‘Data-Collisions.csv’

Data-Collisions.csv 100%[===================>]  70.49M  20.4MB/s    in 3.5s

2020-08-30 08:16:39 (20.2 MB/s) - ‘Data-Collisions.csv’ saved [73917638/73917638]

In [3]:
df = pd.read_csv('Data-Collisions.csv')
df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [7]:
df.shape

(194673, 38)

In [8]:
print(df.dtypes)

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object